.chart-container {
	position: relative;
	display: inline-block;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 25px;
}
.chart {
	float: left;
	z-index:1;
	display: inline-block;
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
.chart-row {
	height: 50px;
}
.bar {
	position: relative;
	background-color: #6b9bd6;
	height: 19px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 0 2px 2px 0;
}
.bar:hover {
	border-top: 2px solid #424a5d;
	border-bottom: 2px solid #424a5d;
	border-right: 2px solid #424a5d;
}
.legend-left {
	clear: both;
	display: inline-block;
	position: relative;
	margin-top: 20px;
	float: left;
}
.heading {
	font-size: 8pt;
	font-weight: bold;
	color: #aaaaaa;
	height: 19px;
}
.heading-left {
	text-align: right;
	line-height: 5px;
	position: relative;
	max-width: 200px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 7px;
}
.data-point {
	height: 25px;
	width: 25px;
	position: relative;
	float: left;
	margin-left: -13px;
}
.legend-bottom {
	position: absolute;
	bottom: -10px;
}
.chart-label {
	font-size: 7pt;
	font-weight: bold;
	color: #aaaaaa;
	position: absolute;
	left: -10px;
	bottom: -10px;
	z-index:0;
	float: left;
}
.chart-label-hr {
	position: absolute;
	bottom: 0;
	z-index:-1;
	background-color: gray;
	left: 0px;
	width: 1px;
	height: 6px;
}
.chart-title {
	text-align: left;
	margin-left: 80px;
	font-size: 40pt;
	color: #424a5d;
	font-weight: bold;
}
.chart-x-label {
  	display: block;
  	text-align: center;
  	top: 50px;
	position: relative;
	font-size: 20pt;
	font-weight: normal;
	color: #424a5d;
}